<div class="container-general">
  <h1 class="container-title">Mes Themes Favoris</h1>

  <% @favorites.where(favoritable_type: "Theme").each do |favorite| %>
      <h4><%= favorite.favoritable.title %></h4>
      <p><%= favorite.favoritable.description %></p>
      <%= link_to("-favoris",favorite_path(favorite.id), method: :delete) %>
      <%= link_to("les articles", theme_articles_path(favorite.favoritable)) %>
    <% end %>
</div>
