.photo-container {
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.container-smaller {
width: 90%;
height: 100%;
margin: 0 auto;
margin-top: 0;
border-radius: 0.75rem;
}

// #articles-show .container-smaller{

  .header-content {
    display: flex;
    border-bottom: 1px solid #902CB8;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 0.3rem;
  }

  .avatar-mini {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }

  .image-avatar {
    position: relative;
    z-index: 1;
    border-radius: 50px;
  }

  .plus-icon {
    position: absolute;
    right: -4.4px;
    bottom: 59px;
    z-index: 2;
  }

  .container-icons {
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  // .container-center {
  //   left: 50%;
  //   // this will calculate what 50% of the element width is and will move it across the X-axis. The negative value ensures it moves to the left.
  //   transform: translateX(-50%);
  // }
  .title-main {
    color: black;
    font-family: $headers-font;
    font-size: 1.75rem;
  }

  .title-h2 {
    color: #902CB8;
    opacity: 0.7;
    font-family: $headers-font;
    font-size: 1.2rem;
    margin-bottom: 20px;

  }

  .border-comment {
    border: 1px solid #902CB8;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 3px;
  }

  .user-img-circle {
    border-radius: 100px;
  }

// }
