#articles-show{
  .username-title {
    text-align: center;
    font-size: 0.7rem;
    margin: 4px 0;
    height: 2.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .border-comment ul {
    font-size: 0.7rem;
    color: $light-gray;
  }
  .text-comment {
    font-size: 0.9rem;
    margin-top: 16px;
    margin-bottom: 8px;
  }
  .fas.fa-minus-circle {
    font-size: 1.4rem;
  }
}


.photo-container {
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.container-smaller {
width: 90%;
height: 100%;
margin: 0 auto;
margin-top: 0;
border-radius: 0.75rem;
}

// #articles-show .container-smaller{

  .header-content {
    display: flex;
    border-bottom: 1px solid #902CB8;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 0.3rem;
  }

  .avatar-mini {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }

  .image-avatar {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
    border-radius: 50px;
    // left: 50%;
  }

.plus-icon {
    position: absolute;
    height: 0;
    bottom: 41%;
    right: 33%;
    z-index: 2;
    width: 0;
}

  .container-icons {
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
  }

  // .container-center {
  //   left: 50%;
  //   // this will calculate what 50% of the element width is and will move it across the X-axis. The negative value ensures it moves to the left.
  //   transform: translateX(-50%);
  // }

  .article-content {
    border-bottom: 1px solid #902CB8;
    padding-bottom: 40px;
  }

  .title-main {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    margin-right: 8px;
    width: 80%;
  }

  .title-h2 {
    color: #902CB8;
    opacity: 0.7;
    font-family: $headers-font;
    font-size: 1.2rem;
    margin-bottom: 20px;

  }

  .border-comment {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 3px;
  }

  .user-img-circle {
    border-radius: 100px;
  }


  .sub-container-icons {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.8rem;

    a {
      margin: 0 8px;
    }

    .far {
      position: relative;
      top: 0px;
      left: 0px;
    }
  }



// }
