#page-dashboard {
  display: flex;
  flex-direction: column;


  .spacer {
    height: 4px;
  }


  .feather {
    height: 25%;
    float: left;
    margin: 6px 4px 0 6px;
    color: $purple-background;
  }



  .cards-favorites {
    border: 1px $purple-background solid;
    border-radius: 4px;
    margin: 4px 0;
    padding: 4px;
  }

  .monblock {
    height: 150px;
    border: red 3px solid;
  }

}
