<div class="container-general" id="articles-show">
  <h1 class="container-title"><%= @article.title %></h1>
  <h2><%= @article.description %></h2>
  <p><%= @article.content %></p>

  <%= link_to("Liste des articles", articles_path) %>

</div>
