<div class="container-general" id="themes-index">
  <h2 class="container-title"><span>Thèmes Favoris</span></h2>

  <% @themes.each do |theme| %>
    <div class="theme">
      <div class="theme_image">
        <%= image_tag "https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif"%>
      </div>
      <div class="theme_title title-white">
        <h3><%= theme.title %></h3>
        <p class><%= theme.description %></p>
      </div>
    </div>
  <% end %>

</div>
