<div class="container-general">
  <h2 class="container-title"><span>Thèmes Favoris</span></h2>
  <div class="container-card">
    <% @themes.each do |theme| %>
      <img src="" alt="">
      <h3><%= theme.title %></h3>
      <p><%= theme.description %></p>
    <% end %>
  </div>
</div>
