<h1>List of Themes</h1>
<div class="cards-themes">
  <% @themes.each do |theme| %>
    <h3><%= theme.title %> </h3>
    <p><%= theme.description %> <%= link_to "les articles", theme_articles_path(theme.id) %></p>
  <% end %>
</div>
