<div id="themes-index" class="container-general poppins">
  <div class="spacer">
  </div>
  <%= render partial: "shared/form_searchbar", locals: {placeholder_value: @placeholder_value, currentpath: @currentpath} %>
  <%= render partial: "shared/macro_theme_list", locals: { themes: @themes, scope: @scope, add_arrow: false} %>
</div>
