<div class="container-general">
  <h2 class="container-title"><span>Thèmes Favoris</span></h2>

  <%= render "shared/card-theme" %>

  <div class= "container-cards">
    <% @themes.each do |theme| %>
      <div class="container-card">
        <div class="container-image">
          <%= image_tag "team.jpg", class:"image-card" %>
        </div>
        <h4><%= theme.title %></h4>
      </div>
    <% end %>
  </div>

</div>
