<div class="banner" >
  <div class="container text-center">
    <h1><strong> <span class="strong-title">AITIO Draft</span> </strong></h1>
    <p></p>
    <% if user_signed_in? %>
    <%= link_to "Accueil", home_path, class: "btn purple white"%>
    <% else %>
    <%= link_to "Connexion", 'users/sign_in', class: "btn purple white"%>
    <% end %>

  </div>
</div>
