 <% @themes.each do |theme| %>
    <div class="cards-list">
      <%= image_tag "feather.jpg", class:"card"%>
      <h3><%= theme.title %></h3>
      <p><%= theme.description %></p>
    </div>
  <% end %>
