 <% @themes.each do |theme| %>
    <div class="container-card">
      <%= image_tag "team.jpg", class:"image-card"%>
      <h3><%= theme.title %></h3>
      <p><%= theme.description %></p>
    </div>
  <% end %>
