<%= javascript_pack_tag 'avatar_creation.js', 'data-turbolinks-track': 'reload', defer: true %>
<h1>mon avatar</h1>
<p>ici je vais pouvoir tenter l'impossible grâce à une petite librairie facile</p>
<div class="displays" >
  <svg class="monsvg" viewBox='0 0 20 20' >
  <rect width="100%" height="100%" fill="rgba(120,120,120,0.2)" />
  </svg>
</div>
