<div class="container-general">
  <div class="container" id="users_show">
    <div class="row">
      <%= cl_image_tag current_user.picture.key, class: "avatar-big", alt: "avatar-large"%>
    </div>
    <div class="row">
      <div class="pl-5">
        <%= current_user.username %>
      </div>
    </div>
  </div>

  <%# <div class="container"> %> %>
  <%# <div class="row"> %>
    <%# <div class="col"> %>
      <%# 1 of 2 %>
    <%# </div> %>
    <%# <div class="col"> %>
      <%# 2 of 2 %>
    <%# </div> %>
  <%# </div> %>
  <%# <div class="row"> %>
    <%# <div class="col"> %>
      <%# 1 of 3 %>
    <%# </div> %>
    <%# <div class="col"> %>
      <%# 2 of 3 %>
    <%# </div> %>
    <%# <div class="col"> %>
      <%# 3 of 3 %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>

  <div class="row mt-4">
    <div class="col">
      <%= link_to "Thèmes Favoris", favorites_th_path%>
    </div>
    <div class="col">
      Articles favoris
    </div>
  </div>
</div>
