<div class="spacer">
</div>
  <%= render partial: "shared/user_profile", locals: { user: @user, follow_users_nb: @follow_users_nb, follower_users_nb: @follower_users_nb, likes: @likes, star: @star } %>
