.article-cards-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: auto;

  .art-created {
  font-size: 0.6rem;
  color: $light-gray;
  margin-left: 8px;
}

  .art-theme {
  font-size: 0.6rem;
  font-weight: 300;
  margin-right: 8px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}


.article-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px 8px;
    width: 85%;
}

.article-card-image {
  height: 8rem;
  width: 16rem;
}

.article-card-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}
.article-card-details-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px 8px 16px 0;
}

.article-card-details-name {
  width: 6rem;
}

.article-card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 8px;
}
.article-card-details-theme {
  margin-left: 16px;

}

.article-card-details-content {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    border: 0 8px;
    color: $light-gray;
    max-height: 7.8rem;
    text-align: justify;
    text-justify: inter-word;
}

.mini-user-name {
  font-size: 0.7rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



}
