.banner {
  background-size: cover;
  background-position: center;
  padding: 10.938rem 0;
  height: 100vh;
  border-bottom: 0.31rem solid #9E15BF;
  background-image: linear-gradient(to top, #2C2033, 32%, rgba(0, 0, 0, 0.5), #2029) ,url(https://cdn.pixabay.com/photo/2019/10/06/10/03/team-4529717_960_720.jpg);

}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 0.063rem 0.063rem 0.188 rgba(0,0,0,0.2);
  font-size: 1.75rem;
  font-weight: 500;
}

.banner p {
  font-size: 1.25rem;
  color: white;
  opacity: .9;
  text-shadow: 0.063rem 0.063rem 0.188 rgba(0,0,0,0.2);
}

.container h1 {
  margin-top: 0;
}

.purple-button {
  background-color: #902CB8;
  color: white;
}

.strong-title {
  font-weight: 700;
}

a.btn.purple.white {
  width: 97%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
}

div.container.text-center {
  margin-top: 8rem;
}
