.banner {
  background-size: cover;
  background-position: center;
  padding: 175px 0;
  height: calc(100vh - 70px);
  border-bottom: 5px solid #9E15BF;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 28px;
  font-weight: 500;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container h1 {
  margin-top: 0;
}

.purple-button {
  background-color: #902CB8;
  color: white;
}

.strong-title {
  font-weight: 700;
}

a.btn.purple.white {
  width: 97%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

div.container.text-center {
  margin-top: 8rem;
}
