.container-general {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-top: 0;
  border-radius: 0.75rem;
}

.container-title {
  text-align: center;
  // background-color: pink;
  margin: 0.5rem;
  padding: 0.3rem;
  border-radius: 2rem;
  display: inline-block;
  position: relative;
  left: 50%;
  // this will calculate what 50% of the element width is and will move it across the X-axis. The negative value ensures it moves to the left.
  transform: translateX(-50%);
  color: #902CB8;
  font-family: $headers-font;
}
