#modal_article {
  top: 5%;
  .modal-content {
    border-radius: 8px;
  }
  .button-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #article_content {
    height: 12rem;
  }
  .image-icon {
    height: 2.8rem;
  }
  label  {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .file, .optional > label {
    height: 2.8rem;
    width: 2.8rem;
    font-size: 0;
    background-image: url('image-icon-purple.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .file.optional.article_picture {
    margin: auto auto;
  }

  .modal-submit {
    border: white 4px solid;
    color: white;
    background-color: $purple-intense2;
    height: 2.8rem;
    width: 5.6rem;
    border-radius: 10px;
  }
}
select2.select2-containe.select2-container--default.select2-container--below {
  width: 100%;
}

input.select2-search__field {

  background: white;
  color: black;
}
