.navbar-icon {
  font-size: 2rem;
  color: black !important;
  border: none;
}

.navbar-lewagon {
  justify-content: space-between;
  height: 70px;
  background-color: #C396F3;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.sticky-bottom{
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:1030;
}

.navbar-collapse {
  transform: translate(0, calc(-100% - 7.3px)) !important;
  right: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
}

 li.nav-item.active{
  padding-left: 23px;
}

a.nav-link {
  color: $purple;
}
