.my-navbar {
  display: flex;
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  justify-content: space-between ;
  height: 70px;
  background-color: white;
  align-items: center;
  padding-right: 8px;
  a {
    text-decoration: none;
  }
}
.log-out-item {
  font-size: 0.8rem;
}


.search-logo, .home-logo, .discover-logo {
  color: white;
  z-index: 3;
  position: absolute;
}

.discover-logo {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.home-logo {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(-50%, -50%);
}

.create-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.favorite-logo {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}


.navbar-cover {
  position: absolute;
  z-index: 1;
  background-color: white;
  height: 70px;
  width: 100%;
}

.me-logo {
  position: absolute;
  z-index: 3;
  height: 50px;
  width: 50px;
  cursor: pointer;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
}

.home-logo, .create-logo, .favorite-logo {
  color: $light-gray;
  z-index: 2;
}

.activated-logo {
  filter: brightness(0) saturate(100%) invert(25%) sepia(22%) saturate(4857%) hue-rotate(261deg) brightness(104%) contrast(108%);
}

.mon_menu {
  transform: scale(0) translateY(0px);
  transition-duration: 0.2s;
  background-color: white;
  position: absolute;
  right: 0;
  width: 90px;
  bottom: 0;
  z-index: -2;
  padding: 4px 4px 0 4px;
  text-align: center;
}

.scale-1 {
  transform: scaleY(1) translateY(-60px);
  transition-duration: 0.2s;
}

.mon_menu {
  li {
    list-style-type: none;
  }
}

 li.nav-item.active{
  padding-left: 0.5rem;
}

a.nav-link {
  color: $purple;
}
