.favorites-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0 8px 0;
  span {
    margin-left: 8px;
  }
  .user-favorites-title-col {
    display: flex;
    flex-direction: row;
  }
  img {
    height: 1.5rem;
  }

}

.micro-themes-list {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.macro-themes-list {
  display: flex;
  flex-direction: column;
  // align-items: center;
  margin-top: 1.5rem;
  // flex-wrap: nowrap;
  // overflow-x: auto;
}

.macro-theme-card {
  // position: relative;
  // flex: 0 0 auto;
  // display: flex;
  border-radius: 8px;
  border: 2px $purple-background2 solid;
  margin-right: 3px;
  padding: 0 4px;
  height: 10rem;
  // background-color: $purple-background2;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  width: 16rem;
  height: 17rem;
  color: $purple2;
  border-radius: 8px;

  span {
    font-size: 0.9rem;
    margin-top: 2.5rem;
    // margin-left:10%;
    // margin-right: 10%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.micro-theme-card {
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 2px $purple-background2 solid;
  margin-right: 3px;
  padding: 0 4px;
  // background-color: $purple-background2;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 8rem;
  height: 12rem;
  color: $purple2;

  span {
    position: absolute;
    top: 31%;
    font-size: 0.9rem;
    margin-top: 2.5rem;
    margin-left:10%;
    margin-right: 10%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.micro-theme-card-img {
    width: 100%;
    height: 50%;
    top: 0%;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    position: absolute;
    object-fit: cover;
}


.micro-theme-card-img > img {
    object-fit: cover;
    padding: 0px;
    width: 8rem;
    height: 8rem;
}

.counter-macro {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0 4px 0 4px;
  width: 4rem;
  height: 2rem;
  background-color: $purple-intense;
  color: white;
  img {
    height: 1.4rem;
  }
}

.counter {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0 4px 0 4px;
  width: 4rem;
  height: 2rem;
  background-color: $purple-intense;
  color: white;
  img {
    height: 1.4rem;
  }
}

.details-th {
  filter: brightness(0) saturate(100%) invert(96%) sepia(19%) saturate(710%) hue-rotate(186deg) brightness(95%) contrast(105%);
}


.articles-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto;
  margin: 1.5rem 0 0 0;

}

.mini-articles-card {
  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
  height: 6rem;
  margin-right: 3px;
  padding: 0 4px;
  border-bottom: $light-gray2 1px solid;
  color: $purple2;
  a {
    width: 100%;
  }
}

.art-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .art-description-col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .art-title {
      color: $gray;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .mini-article-img {
    border-radius: 15%;
    height: 80px;
    width: 55px;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 0px;
    opacity: 0.8;
  }
}


.art-content {
  font-size: 0.6rem;;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



.art-th-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  .art-theme {
    font-size: 0.6rem;
    font-weight: 300;
    margin-right: 8px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .shot-theme {
    font-size: 0.6rem;
    font-weight: 300;
    margin-right: 8px;
    color: gray;
    align-self: flex-end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }
  .art-created {
    font-size: 0.6rem;
    color: $light-gray;
    margin-left: 8px;
    align-self: flex-end;
  }
}

#titre{
vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles-link-all {
  display: flex;
  justify-content: right;
  margin: 8px 0 8px 0;
}
