// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

* { box-sizing: border-box; }
*,
::before,
::after {
  border: 0;
  padding: 0;
}


body {
  background-color: white;
}

a {
  color: #902CB8;
  text-decoration: none;
}


.purple {
  background-color: #9E15BF;
}

.white {
  color: white;
}

.div-wrapper {
  min-height: calc(100vh - 70px);
}
